* {
    box-sizing: border-box;
  }
   
body {
    font-family: Arial, "Helvetica";
    background: url(grassbackground1.jpg);
    width: 100%;
    padding: 10px 20px 40px 20px;
}

#main-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#make-buttons {
    height: 132px;
    width: 32%;
    background-color: rgb(255, 250, 247);
    font-size: 1.8rem;
    text-align: center;
    padding: 9px;
    margin: 6px;
    border-radius: 6px;
}

h4 {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 9px;
}

#title-div {
    height: 80px;
    width: 96%;
    font-family: 'Sofia', cursive;
    text-align: center;
    padding: 6px;
    background-color: rgb(215, 231, 235);
    margin: 6px;
    border-radius: 6px;
}

#title-div span {
    font-size: 2.6rem;
    font-style: italic;
    font-weight: bold;
}

#title-div h2 {
    font-size: 1.8rem;
    margin-top: 12px;
    margin-bottom: 8px;
}

#button-area {
    height: 132px;
    width: 63%;
    padding: 9px;
    background-color: azure;
    margin: 6px;
    border-radius: 6px;
}

h3 {
    font-size: 21px;
    text-align: center;
    margin-top: 3px;
}

#button-area p {
    font-size: 15px;
}

#show-gifs {
    min-height: 780px;
    width: 96%;
    background-color: rgb(234, 234, 238);
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

#show-buttons {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    margin: 3px;
}

button:hover {
    border: 1px solid whitesmoke;
}